{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <title>Arts</title>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
<nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Artifacts</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Auction</a></li>
                    <li><a href="{%  url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
</nav>

{% block content %} {% endblock %}

<footer class="footer-distributed">

    <div class="footer-left">
        <h3>About<span>Artifacts</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">Auction</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Register</a>
        </p>

        <p class="footer-company-name">© 2020 Milestone Project | Code Institute</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-phone"></i>
            <p>+353 110 200352</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@eduonix.com">support@eduonix.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            We offer </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>
</body>
</html>